<!-- <div class="container1 m-0 mb-3 mt-2">
    <div class="col1 col-sm-12 col-xs-12" clickColor>
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active3': overallActive, 'active6': !overallActive}" (click)="onOverAll()">

            <label class="big-num-wht curs_pointer">{{retailerStatus?.conversionCount || '0'}}</label>
            <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="3000"> </app-animated-digit>
            

            <p class="font-white pr-3 pt-4" style="font-size: 1.8rem;">Overview</p>
            <img src="assets/image/{{conversionActive?'conversion_white_76':'conversion_76'}}.png" alt="">
        </div>
    </div>

    <div class="col1 col-sm-12 col-xs-12">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active2': visitorActive, 'active5': !visitorActive}" (click)="onBookAppointMent()">
            <label class="big-num-wht curs_pointer">{{retailerStatus?.ticketCount || '0'}}</label>
            <animated-digit [digit]="3000" [duration]="1000"> </animated-digit>
            <app-animated-digit [digit]="retailerStatus?.ticketCount" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>
            <p class="font-white">Corporate <br> Deck</p>
            <img src="assets/image/{{visitorActive?'appointment_white_76':'appointment_76'}}.png" alt="">
        </div>
    </div>
    <div class="col1 col-sm-12 col-xs-12">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active3': feedbackActive, 'active6': !feedbackActive}" (click)="onFeedback()">
            <label class="big-num-wht curs_pointer">{{retailerStatus?.feedbackCount || '0'}}</label>
            <app-animated-digit [digit]="retailerStatus?.feedbackCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>

            <p class="font-white">Market <br> Updates</p>
            <img src="assets/image/{{feedbackActive?'feedback_white_76':'feedback_76'}}.png" alt="">

        </div>
    </div>
    <div class="col1 col-sm-12 col-xs-12 pr-3">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active2': ticketsActive, 'active5': !ticketsActive}" (click)="onLiveAgent()">
            <label class="big-num-wht curs_pointer">{{retailerStatus?.visitorCount || '0'}}</label>
            <app-animated-digit [digit]="retailerStatus?.visitorCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>
            <p class="font-white">Product <br> Info</p>
            <img src="assets/image/{{ticketsActive?'live_agent_white_76':'live_agent_76'}}.png" alt="">
        </div>
    </div>
     <div class="col1 col-sm-12 col-xs-12 pr-1">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active3': conversionActive, 'active6': !conversionActive}" (click)="onConversion()"> -->

            <!-- <label class="big-num-wht curs_pointer">{{retailerStatus?.conversionCount || '0'}}</label> -->
            <!-- <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="3000"> </app-animated-digit> -->
            <!-- <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>


            <p class="font-white pr-5">Digital <br> Factsheet</p> -->
            <!-- <img src="assets/image/{{conversionActive?'conversion_white_76':'conversion_76'}}.png" alt=""> -->
        <!-- </div>
    </div>

    
     -->
<!-- </div> -->
<!-- <div class="row">
    <div class="col-5">
        
    </div>
    <div class="form-group col-5"  *ngIf="!overallActive">
        

        <input readonly type="text" 
        class="col-lg-12 col-md-12 col-sm-12 form-control outer-border" 
        placeholder="Select Date Range" [value]="dateRangeValue" name="daterangeInput"
         daterangepicker #pickerDate [options]="options" (selected)="selectedDate($event, daterange)"
        />
        <i *ngIf="dateRangeValue" (click)="clearDate()"
         class="fa fa-times icon-caret-times"></i>
        <i (click)="pickerDate.click()" class="fa fa-calendar-alt icon-caret"></i>
    </div>
    <div class="col-2 text-center"  *ngIf="!overallActive">
        
        <button class="btn btn-pri btn-pri-shadow mr-2" (click)="apply()">
            Apply
        </button>
        <button class="btn btn-sec btn-sec-shadow" (click)="clearDate()">
            Clear
        </button>
    </div>
</div> -->
<!-- <div class="row m-0 mb-4"> -->
    <!-- <div class="{{conversionActive || feedbackActive || ticketsActive ?'col-lg-10 col-md-10 col-sm-12':'col-lg-9 col-md-9 col-sm-12'}} "> -->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="chart">
            <div class="row" style="margin-top: -1rem;">
                <div class="col-6">
                    <mat-slide-toggle (change)="setMessage($event)">{{message}}</mat-slide-toggle>
                </div>
                <div class="col-6 text-right">
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active2': ( visitorActive && weekActive && !dateFilter) || (ticketsActive && weekActive && !dateFilter),  'active3': (feedbackActive && weekActive && !dateFilter) || (conversionActive && weekActive && !dateFilter) || (overallActive && weekActive && !dateFilter)}" (click)="onWeek()">Week</button>
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active2': (visitorActive && monthActive && !dateFilter) || (ticketsActive && monthActive && !dateFilter),  'active3': (feedbackActive && monthActive && !dateFilter) || (conversionActive && monthActive && !dateFilter) || (overallActive && monthActive && !dateFilter)}" (click)="onMonth()">Month</button>
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active2': (visitorActive && yearActive && !dateFilter) || (ticketsActive && yearActive && !dateFilter),  'active3': (feedbackActive && yearActive && !dateFilter) || (conversionActive && yearActive && !dateFilter) || (overallActive && yearActive && !dateFilter)}" (click)="onYear()">Year</button>
                </div>
            </div>
            
            <canvas id="canvas" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" 
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" 
                [chartType]="lineChartType" [plugins]="lineChartPlugins">
          </canvas>
        </div>
    </div> -->

    <div class="main">
      <div class="container1 sparkboxes mt-4">
          <div class="col1 pr-2">
            <div class="box box1" style="cursor: pointer;" [ngClass]="{'box1Active': overallActive}" (click)="onOverAll()">
              <div class="details">
                <!-- <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="3000"> </app-animated-digit> -->
                <p class="font-white pr-3 pt-4 pb-4" style="font-size: 2rem;">Overview</p>
              </div>
              <!-- <div id="spark1"></div> -->
            </div>
          </div>
          <div class="col1 pr-2">
            <div class="box box2" style="cursor: pointer;" [ngClass]="{'box1Active': visitorActive}" (click)="onBookAppointMent()">
              <div class="details">
                <app-animated-digit [digit]="retailerStatus?.ticketCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>
                <p class="font-white">Corporate <br> Deck</p>
              </div>
              <!-- <div id="spark2"></div> -->
            </div>
          </div>
          <div class="col1 pr-2">
            <div class="box box3" style="cursor: pointer;" [ngClass]="{'box1Active': feedbackActive}" (click)="onFeedback()">
              <div class="details">
                <app-animated-digit [digit]="retailerStatus?.feedbackCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>

            <p class="font-white">Market <br> Updates</p>
              </div>
              <!-- <div id="spark3"></div> -->
            </div>
          </div>
          <div class="col1 pr-2">
            <div class="box box4" style="cursor: pointer;" [ngClass]="{'box1Active': ticketsActive}" (click)="onLiveAgent()">
              <div class="details">
                <app-animated-digit [digit]="retailerStatus?.visitorCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>
            <p class="font-white">Product <br> Info</p>
              </div>
              <!-- <div id="spark4"></div> -->
            </div>
          </div>
          <div class="col1">
            <div class="box box5" style="cursor: pointer;" [ngClass]="{'box1Active': conversionActive}" (click)="onConversion()">
              <div class="details">
                <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>
                <p class="font-white pr-5">Digital <br> Factsheet</p>
              </div>
              <!-- <div id="spark4"></div> -->
            </div>
          </div>
          
        </div>
      

          <div class="row">
            <div class="col-12">
              <div class="mt-3">
                <div class="row">
                  <div class="col-3">
                    <mat-slide-toggle *ngIf="!overallActive" (change)="setMessage($event)">{{message}}</mat-slide-toggle>
                </div>

                <div class="form-group col-4 text-center"  >
        

                  <input readonly type="text" *ngIf="!overallActive"
                  class="col-lg-12 col-md-12 col-sm-12 form-control outer-border" 
                  placeholder="Select Date Range" [value]="dateRangeValue" name="daterangeInput"
                   daterangepicker #pickerDate [options]="options" (selected)="selectedDate($event, daterange)"
                  />
                  <i *ngIf="dateRangeValue && !overallActive" (click)="clearDate()"
                   class="fa fa-times icon-caret-times"></i>
                  <i *ngIf="!overallActive" (click)="pickerDate.click()" class="fa fa-calendar-alt icon-caret"></i>
              </div>
              <div class="col-2">
                  
                  <button *ngIf="!overallActive" class="btn btn-pri btn-pri-shadow mr-2" (click)="apply()">
                      Apply
                  </button>
                  <button *ngIf="!overallActive" class="btn btn-sec btn-sec-shadow" (click)="clearDate()">
                      Clear
                  </button>
              </div>
                
                <div class="col-3 text-right">
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active2': ( visitorActive && weekActive && !dateFilter) || (ticketsActive && weekActive && !dateFilter),  'active3': (feedbackActive && weekActive && !dateFilter) || (conversionActive && weekActive && !dateFilter) || (overallActive && weekActive && !dateFilter)}" (click)="onWeek()">Week</button>
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active2': (visitorActive && monthActive && !dateFilter) || (ticketsActive && monthActive && !dateFilter),  'active3': (feedbackActive && monthActive && !dateFilter) || (conversionActive && monthActive && !dateFilter) || (overallActive && monthActive && !dateFilter)}" (click)="onMonth()">Month</button>
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active2': (visitorActive && yearActive && !dateFilter) || (ticketsActive && yearActive && !dateFilter),  'active3': (feedbackActive && yearActive && !dateFilter) || (conversionActive && yearActive && !dateFilter) || (overallActive && yearActive && !dateFilter)}" (click)="onYear()">Year</button>
                </div>
                </div>
              </div>
            </div>
          </div>
          
    

        <div class="row">
          <div class="col-md-6" *ngIf="overallActive">
            <div class="box shadow mt-4">
              <app-pie-chart [xAxis]="xAxisType" [active]="overallActive" ></app-pie-chart>
            </div>
          </div>
          <div class="col-md-6" *ngIf="overallActive">
            <div class="box shadow mt-4">
              <app-radial-chart  [xAxis]="xAxisType" [active]="overallActive" ></app-radial-chart>
            </div>
          </div>
          <div class="col-md-12">
            <div class="box shadow mt-4" *ngIf="visitorActive">
              <app-area-chart  [xAxis]="xAxisType" [active]="visitorActive" 
                [count]="message" [fromDate]="searchFromDate" [toDate]="searchToDate"></app-area-chart>
            </div>
          </div>
          <div class="col-md-12">
            <div class="box shadow mt-4" *ngIf="feedbackActive">
              <app-column-chart  [xAxis]="xAxisType" [active]="feedbackActive" 
                [count]="message" [fromDate]="searchFromDate" [toDate]="searchToDate"></app-column-chart>
            </div>
          </div>
          <div class="col-md-12">
            <div class="box shadow mt-4" *ngIf="ticketsActive">
              <app-line-chart  [xAxis]="xAxisType" [active]="ticketsActive" 
                [count]="message" [fromDate]="searchFromDate" [toDate]="searchToDate"></app-line-chart>
            </div>
          </div>
          <div class="col-md-12">
            <div class="box shadow mt-4" *ngIf="conversionActive">
              <app-bar-chart  [xAxis]="xAxisType" [active]="conversionActive" 
                [count]="message" [fromDate]="searchFromDate" [toDate]="searchToDate"></app-bar-chart>
            </div>
          </div>
        </div>
        
      </div>

    <!-- <div class="{{conversionActive || feedbackActive || ticketsActive ?'col-lg-2 col-md-2 col-sm-12':'col-lg-3 col-md-3 col-sm-12'}} timeline"> -->
    